<?xml version="1.0" encoding="UTF-8"?>

<phpunit processIsolation="false"
         colors="true"
         stopOnFailure="false"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="Stringy">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
